apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: deploy-sample
  name: deploy-sample
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deploy-sample
  strategy: {}
  template:
    metadata:
      labels:
        app: deploy-sample
    spec:
      containers:
      - image: nginx
        name: nginx
        resources: {}
status: {}
